body {
  background-color: #B8B6AD;
}

#upload-box {
    text-align: center;
    border-style: dotted;
    margin: 20px;
    padding: 50px;
}

.uploads{
	width:50%;
}

#butts
{
  height: 50%;
	margin-top: 2px;
}
